<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="./css/bootstrap.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="./css/style.css") }}">

    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
    <!--banner-->
    <div class="container navbar navbar-expand-lg static-top navbar-light mt-2 mb-5">
        <a href="{{ url_for('index') }}"><h2 class="mr-auto"><span class="text-success">Books</span><span class="text-info">Review</span></h2></a>

        <div>
        {% block controls %}
        {% endblock controls %}
        </div>
    </div>
    <!--end banner-->
<div class="container">
    
    {% block body %}
    {% endblock body %}
</div>
</body>
</html>